#Description of  Prof. Farnsworth's ship

[default]

name = {{ ship_name }}

type = {{ ship_type  }}

engine_type = {{ engines }}

Dark_matter_max_capacity = {{ dark_Matter_balls }}

sales_price = {{ ship_price_in_beans }}

the value of dnsip is.... {{ dnsip }}

{% if ship_price_in_beans < 10 %}
# this ship should be replaced with something a bit nicer...
{% endif %}
